[Unit]
Description=Optimize power settings

[Service]
Type=oneshot
ExecStart=/usr/bin/powertop --auto-tune
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
